/* crimson-text-regular - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/crimson-text-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'),
  url('../fonts/crimson-text-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/crimson-text-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/crimson-text-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/crimson-text-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/crimson-text-v7-latin-regular.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
/* crimson-text-italic - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/crimson-text-v7-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Italic'), local('CrimsonText-Italic'),
  url('../fonts/crimson-text-v7-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/crimson-text-v7-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/crimson-text-v7-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/crimson-text-v7-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/crimson-text-v7-latin-italic.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
/* crimson-text-700 - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/crimson-text-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Bold'), local('CrimsonText-Bold'),
  url('../fonts/crimson-text-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/crimson-text-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/crimson-text-v7-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/crimson-text-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/crimson-text-v7-latin-700.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
body {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 0.5em;
}
h1 ~ p:first-of-type {
  margin-top: 0;
}