.video--wrapper {
  position: relative;
  width: 100%;
  height: 56.25vw;
  padding-top: 56%; }

.video--wrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; }

.video--poster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  background-size: cover !important; }

.video--poster:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  border: 5px solid #fff;
  border-radius: 100%;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  transition: border-color 300ms; }

.video--poster:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin: -20px 0 0 -10px;
  border-left: 30px solid #fff;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  transition: border-color 300ms; }

.video--poster:hover:before, .video--poster:focus:before {
  border-color: #f00; }

.video--poster:hover:after, .video--poster:focus:after {
  border-left-color: #f00; }

.video--wrapper--active .video--poster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  -moz-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms; }

.baby--blue {
  background-color: #6CC8E9; }

.baby--blue--gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#58bde7), to(#088dc4));
  background: linear-gradient(#58bde7 0%, #088dc4 100%);
  color: #FFFFFF; }

.dark--gray {
  background-color: #1F242A; }

.dark--blue {
  background-color: #088dc4; }

.silver {
  background-color: #D7E2EB; }

.box--shadow--all {
  box-shadow: 0 0 15px rgba(44,62,80,.5); }

.box {
  padding: 2rem; }

/* crimson-text-regular - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/crimson-text-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Crimson Text Regular"), local("CrimsonText-Regular"), url("../fonts/crimson-text-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/crimson-text-v7-latin-regular.woff2") format("woff2"), url("../fonts/crimson-text-v7-latin-regular.woff") format("woff"), url("../fonts/crimson-text-v7-latin-regular.ttf") format("truetype"), url("../fonts/crimson-text-v7-latin-regular.svg#CrimsonText") format("svg");
  /* Legacy iOS */ }
/* crimson-text-italic - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/crimson-text-v7-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Crimson Text Italic"), local("CrimsonText-Italic"), url("../fonts/crimson-text-v7-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/crimson-text-v7-latin-italic.woff2") format("woff2"), url("../fonts/crimson-text-v7-latin-italic.woff") format("woff"), url("../fonts/crimson-text-v7-latin-italic.ttf") format("truetype"), url("../fonts/crimson-text-v7-latin-italic.svg#CrimsonText") format("svg");
  /* Legacy iOS */ }
/* crimson-text-700 - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/crimson-text-v7-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Crimson Text Bold"), local("CrimsonText-Bold"), url("../fonts/crimson-text-v7-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/crimson-text-v7-latin-700.woff2") format("woff2"), url("../fonts/crimson-text-v7-latin-700.woff") format("woff"), url("../fonts/crimson-text-v7-latin-700.ttf") format("truetype"), url("../fonts/crimson-text-v7-latin-700.svg#CrimsonText") format("svg");
  /* Legacy iOS */ }
body {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 0.5em; }

h1 ~ p:first-of-type {
  margin-top: 0; }

.logo a {
  display: block;
  width: 12rem;
  max-width: 100%; }

.logo a svg {
  width: 100%; }

.logo a svg .cls-1 {
  fill: #6cc8e9; }

.logo a svg .cls-2 {
  stroke-width: 0.7px; }

.logo a svg .cls-3 {
  fill: #fff; }

.logo a svg .cls-2,
.logo a svg .cls-4 {
  fill: none;
  stroke: #fff; }

header {
  background-color: #1F242A;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 105px;
  margin: 0 !important; }

header .logo {
  text-align: right;
  margin-top: 60px; }

header .logo a {
  display: inline-block; }

.nav-inline .primary {
  text-align: center; }

.nav-inline ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2rem;
  transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  border: 2px dotted transparent;
  padding-bottom: 2px; }

.nav-inline a:hover,
.current-menu-item a {
  color: #6CC8E9;
  border-bottom: 2px dotted #6CC8E9; }

.nav-inline ul li {
  margin: 0; }

.nav-inline ul li {
  position: relative;
  padding: 0 10px; }

.nav-inline ul li:after {
  display: block;
  position: absolute;
  right: -2px;
  height: 25px;
  width: 1px;
  top: 0;
  background: rgba(255, 255, 255, 0.4);
  content: ''; }

footer {
  background-color: #1F242A;
  color: #FFFFFF;
  font-size: 0.8rem;
  padding: 25px 0; }

footer .logo a {
  margin: 0 auto;
  width: 9.5rem; }

.page--banner {
  position: relative;
  height: 750px;
  margin-top: 105px; }

.page--banner--image {
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.page--banner--content {
  position: relative;
  z-index: 2; }

.page--banner--content h1 {
  font-size: 3.25rem;
  line-height: 1;
  font-weight: 400; }

.page--banner--content h1 span {
  color: #6CC8E9; }

.page--banner--image--container {
  position: relative; }

.social--media-icons ul li a {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50px;
  background-color: #6CC8E9;
  display: flex;
  border: none !important;
  padding: 0; }

.social--media-icons ul li a svg {
  width: 100%;
  fill: #FFFFFF;
  transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53); }

.social--media-icons ul li a:hover {
  background-color: #FFFFFF; }

.social--media-icons ul li a:hover svg {
  fill: #1F242A; }

.social--media-icons ul li:after {
  display: none; }

a.button--default {
  font-size: .8rem;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-weight: 700; }

a.button--default:last-child {
  margin-top: 30px; }

.button--default span {
  background-color: #6CC8E9;
  position: relative;
  padding: .5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  min-width: 8rem;
  text-align: center; }

.button--default:hover span {
  background-color: #1F242A;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); }

.button--default span:after {
  position: absolute;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #47b6e4;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); }

.button--default:hover span:after {
  left: 0;
  width: 100%; }

.button--default .line {
  width: 45%;
  background-color: #fff;
  height: 1px;
  margin-left: 1rem;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 1; }

.button--default:hover .line {
  width: 0;
  opacity: 0; }

.button--reverse {
  flex-direction: row-reverse; }

.button--reverse .line {
  margin-left: 0;
  margin-right: 1rem; }

.post--list a {
  display: block;
  text-decoration: none;
  padding: 15px 20px 15px 20px;
  background-color: #FFFFFF;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); }

.post--list a:first-child {
  padding-top: 0; }

.post--list a:hover {
  background-color: #1F242A;
  color: #FFFFFF; }

.post--title {
  background-color: #1F242A;
  color: #088dc4;
  padding: 10px; }

.post--date {
  display: block;
  color: #9A9A9A;
  font-size: .8rem;
  margin-bottom: 10px; }

.company--motto .box {
  text-align: left;
  font-style: italic; }

.company--motto h1 {
  font-weight: 400;
  font-size: 3.2rem;
  color: #9A9A9A; }

.company--motto span {
  color: #6CC8E9; }

.home--about--section .company--motto {
  min-height: 450px; }

.home--page--banner h1 {
  color: #FFFFFF; }

.home--company--motto {
  position: relative; }

.home--company--motto .box {
  padding-left: 100px; }

.home--company--motto:before,
.home--company--motto:after {
  display: block;
  content: '';
  position: absolute;
  background-color: #9A9A9A;
  opacity: 0.2; }

.home--company--motto:before {
  height: 1px;
  width: 100%;
  left: 0;
  top: 75px; }

.home--company--motto:after {
  width: 1px;
  left: 75px;
  height: 100%; }

.home--expertise--section {
  height: 750px;
  background-color: #1F242A;
  position: relative; }

.home-page-expertise-content .box {
  color: #FFFFFF;
  width: 60%; }

.home--expertise--section .page--banner--image--container {
  height: 100%; }

.home--locations--section h1 {
  color: #6CC8E9; }

.home--locations--content .box {
  width: 85%;
  margin: 0 auto;
  padding: 100px;
  color: #9A9A9A; }

.home--locations-list {
  position: relative;
  z-index: 2;
  box-shadow: 15px 0 15px -15px rgba(44,62,80,.5); }

.home--locations-list ul {
  list-style-type: none;
  font-size: 1.8rem;
  margin: 0; }

.home--locations-list ul li {
  margin-bottom: 0;
  text-align: right; }

.home--locations--section .page--banner--image--container {
  left: -10px; }

.home--tag--news {
  padding: 100px 0; }

.home--tag--news a {
  text-align: center;
  text-decoration: none;
  display: block;
  width: 70%;
  margin: 0 auto; }

.home--tag--news a:hover {
  opacity: 0.5;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); }

.home--tag--news h1 {
  margin-top: 0;
  font-size: 1.5rem;
  line-height: 1.2; }

body {
  overflow-x: hidden; }

/*# sourceMappingURL=global.css.map */
