// utilities :

// -- flex :
@import "utilities/flex";
// -- box-shadow :
@import "utilities/box-shadow";
// -- video-wrapper :
@import "utilities/video--wrapper";
// -- key-frames:
@import "utilities/keyframes";

// variables :

// -- colors:
$dark--gray: #1F242A;
$dark--blue: #088dc4;
$baby--blue: #6CC8E9;
$silver: #D7E2EB;
$gun--metal: #9A9A9A;
$white: #FFFFFF;

// background colors :
.baby--blue {
  background-color: $baby--blue;
  align-self: stretch;
  color: $white
}
.baby--blue--gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#58bde7), to(#088dc4));
  background: linear-gradient(#58bde7 0%, #088dc4 100%);
  color: $white;
  align-self: stretch;
}
.dark--gray {
  background-color: $dark--gray;
  align-self: stretch;
  color: $white;
}
.dark--blue {
  background-color: $dark--blue;
  align-self: stretch;
  color: $white;
}
.silver {
  background-color: $silver;
  align-self: stretch;
  color: $white;
}
.white {
  background-color: $white;
}

// box shadows :
.box--shadow--all {
  @include box-shadow-all('rgba(44,62,80,.3)');
}
.box--shadow--left {
  @include box-shadow-left('rgba(44,62,80,.5)');
}
.box--shadow--bottom {
  @include box-shadow-bottom('rgba(44,62,80,.5)');
}
.box--shadow--left--right {
  @include box-shadow-left-and-right('rgba(44,62,80,.2)')
}

// box :
.box {
  padding: 2rem;
}

@import "typography";
@import "component/logo";
@import "component/header";
@import "component/navigation";
@import "component/footer";
@import "component/page--banner";
@import "component/social--media";
@import "component/button";
@import "component/posts";
@import "component/company--motto";
@import "component/ajax";
@import "component/search";

@import "pages/home";
@import "pages/about";
@import "pages/leadership";
@import "pages/expertise";
@import "pages/services";
@import "pages/locations";
@import "pages/blog";

body {
  overflow-x: hidden;
}