.page--banner {
  position: relative;
  height: 750px;
  margin-top: 105px;
}
.page--banner--image {
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.page--banner--content {
  position: relative;
  z-index: 2;
}
.page--banner--content h1 {
  font-size: 3.25rem;
  line-height: 1;
  font-weight: 400;
  padding: 0 5px;
}
.page--banner--content h1 span {
  color: $baby--blue;
}
.page--banner--image--container {
  position: relative;
}
.interior--page--banner {
  height: 450px;
}
.interior--page--banner h1 {
  color: $white;
}