.post--list a {
  display: block;
  color: $dark--gray;
  text-decoration: none;
  padding: 15px 20px 15px 20px;
  background-color: $white;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.post--list a:first-child {
  padding-top: 0;
}
.post--list a:hover {
  background-color: $dark--gray;
  color: $white;
}
.post--title {
  background-color: $dark--gray;
  color: $dark--blue;
  padding: 10px;
}
.post--date {
  display: block;
  color: $gun--metal;
  font-size: .8rem;
  margin-bottom: 10px;
}