.our--culture--quote {
  color: $white;
  height: 500px;
}
.our--culture--quote h1 {
  font-style: italic;
  margin: 0;
}
.our--culture--quote h1 span {
  color: $baby--blue;
}
.our--culture--quote .dark--gray {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our--culture--content .box {
  padding: 150px 0;
}
.our--culture--content .box h1 {
  color: $baby--blue;
}
.our--culture--content .box p {
  color: $gun--metal;
}
.about--us--title h1 {
  color: $gun--metal;
  font-weight: 400;
}
.about--us--title h1 span {
  color: $baby--blue;
}
.about--us--content h1 {
  color: $baby--blue;
}
.about--us--content p {
  color: $gun--metal;
}
.about--us--title.box,
.about--us--content.box {
  padding-top: 110px;
  padding-bottom: 110px;
}
.row.search-types {
  margin-left: -100px;
}
.search-types h1 {
  color: $baby--blue;
}
.search-types p {
  color: $white;
}
.search-types .box {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.search-types .box:first-of-type {
  padding-top: 70px;
}
.search-types .box:last-of-type {
  padding-bottom: 70px;
}

@media screen and (min-width: 20rem) {
  .box.list ul {
    display: block;
  }
  .row.search-types {
    margin-left: 0;
  }
  .search-types .box {
    max-width: 100%;
  }
  .our--culture--content .box {
    padding: 40px;
  }
  .about--us--title.box {
    padding-bottom: 0;
  }
  .about--us--content.box {
    padding-top: 20px;
  }
  .our--culture--quote .box h1 {
    font-size: 2rem
  }
}