.our--culture--quote {
  color: $white;
  height: 500px;
}
.our--culture--quote h1 {
  font-style: italic;
  margin: 0;
}
.our--culture--quote h1 span {
  color: $baby--blue;
}
.our--culture--quote .dark--gray {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our--culture--content .box {
  padding: 150px 0;
}
.our--culture--content .box h1 {
  color: $baby--blue;
}
.our--culture--content .box p {
  color: $gun--metal;
}
.about--us--title h1 {
  color: $gun--metal;
  font-weight: 400;
}
.about--us--title h1 span {
  color: $baby--blue;
}
.about--us--content h1 {
  color: $baby--blue;
}
.about--us--content p {
  color: $gun--metal;
}
.row.search-types {
  margin-left: -100px;
}
.search-types h1 {
  color: $baby--blue;
}
.search-types p {
  color: $white;
}
.search-types .box {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.search-types .box:first-of-type {
  padding-top: 70px;
}
.search-types .box:last-of-type {
  padding-bottom: 70px;
}
.stats--background--image--wrap {
  -webkit-background-size: cover !important;
  background-size: cover !important;
  position: relative;
}
.expertise--stat {
  padding: 250px 60px;
  position: relative;
  color: $white;
}
.expertise--stat h1 {
  font-size: 3em;
}
.expertise--background--image--wrap {
  -webkit-background-size: cover !important;
  background-size: cover !important;
  position: relative;
}
header ~ .about--video--wrapper--container {
  margin-top: 0;
}
.about--box,
.content--box {
  padding: 5rem;
}
.about--box h1,
.about--box h2 {
  color: $baby--blue;
}
.about--box p {
  color: $gun--metal;
}
.silver--content p {
  color: $dark--gray;
}
.content--image--block {
  height: 600px;
  width: 100%;
}
@media screen and (max-width: 425px) {
  .about--box,
  .content--box {
    padding: 2rem;
  }
}
@media screen and (min-width: 20rem) {
  .box.list ul {
    display: block;
  }
  .row.search-types {
    margin-left: 0;
  }
  .search-types .box {
    max-width: 100%;
  }
  .our--culture--content .box {
    padding: 40px;
  }
  .about--us--title.box {
    padding-bottom: 0;
  }
  .about--us--content.box {
    padding-top: 20px;
  }
  .our--culture--quote .box h1 {
    font-size: 2rem
  }
}