.expertise--page--banner .dark--blue {
  height: 100%;
  z-index: 2;
}
.expertise--headline {
  margin-left: 100px;
  margin-top: -100px;
  position: relative;
  z-index: 2;
}
.expertise--hero--text h1 {
  color: $gun--metal;
}
.expertise--hero--text h1 span {
  color: $baby--blue;
}
.expertise--content--block h2 {
   color: $baby--blue;
}
.expertise--content--block p {
  color: $gun--metal;
}
.expertise--row [class*="col-xs"] {
  padding: 25px 0;
}
.expertise--row .box {
  text-align: left;
}
.expertise--row .content--block--page--banner {
  height: 200px;
}
.expertise--row .final--content--block {
  background-color: $dark--gray;
}
.expertise--row .final--content--block h2 {
  color: $white;
}
.expertise--row .final--content--block h2:after {
  display: block;
  content: '';
  background-color: $baby--blue;
  margin-top: 30px;
  width: 110px;
  height: 3px;
}
.expertise--row .final--content--block h2 span {
  color: $baby--blue;
}
.expertise--stat {
  padding: 250px 60px;
  position: relative;
  color: $white;
}
.expertise--stat h1 {
  font-size: 3em;
}
.expertise--background--image--wrap {
  -webkit-background-size: cover !important;
  background-size: cover !important;
  position: relative;
}
.expertise--title.box {
  position: relative;
  top: 200px;
  color: $baby--blue;
  text-align: center;
}
.expertise--content--blocks {
  text-align: left;
}
.expertise--content--blocks p {
  color: $gun--metal;
}
.expertise--content--blocks h2 {
  color: $baby--blue
}
.expertise--content--blocks .box:first-child {
  padding-top: 60px;
}
.expertise--content--blocks .box:last-child {
  padding-bottom: 60px;
}
.expertise--content--blocks .box {
  padding: 0 60px 20px;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .expertise--hero--text h1 {
    font-size: 2rem;
  }
  .expertise--stat {
    padding: 50px 0;
    width: 50%;
    margin: 0 auto;
  }
  .expertise--row .content--block--page--banner {
    position: relative;
  }
  .expertise--title.box {
    top: 0;
  }
  .expertise--content--blocks .box {
    padding: 10px;
  }
  .expertise--headline h2 {
    font-size: 1.5rem;
  }
}